<p id="tagline">Find the AI prompt used to generate the following image as quickly as possible. Everyday a new prompt to discover!</p>

<div id="prompt-image-container">
	<%= image_tag @prompt.image_url, alt: "Prompt of the day" %>
	<br />
	<span>Source: <%= @prompt.image_source %></span>
</div>

<div id="prompt-form-container" data-prompt-id="<%= @prompt.id %>">
	<% @prompt.prompt_letters.group_by(&:word_index).each_with_index do |word, index| %>
		<span class="prompt_word">
			<% word[1].each_with_index do |letter, letter_index| %>
				<% if letter.is_hidden == false %>
					<span class="letter-given"><%= letter.content %></span>
				<% else %>
					<span data-controller="prompt"><input type="text" class="letter-field" maxlength="1" data-answer="<%= letter.content %>" data-prompt-target="letterField" data-action="input->prompt#correct" /></span>
				<% end %>
			<% end %>
		</span> 
	<% end %>
</div>

<div id="prompt-result-container">
	<h2>You found the prompt in <span id="score-result"></span>!</h2>
	<div id="social-container">
		<%= link_to raw(show_svg("facebook_plain.svg")), "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&display=popup", title: "Share on Facebook", target: "_blank" %>
		<%= link_to raw(show_svg("twitter_plain.svg")), "https://twitter.com/intent/tweet?url=#{request.url}", title: "Share on Twitter", target: "_blank", id: "twitter_share" %>
		<%= link_to raw(show_svg("linkedin_plain.svg")), "https://www.linkedin.com/sharing/share-offsite/?url=#{request.url}", title: "Share on LinkedIn", target: "_blank" %>
	</div>

	<br />

	<%= link_to "Browse Archives >", prompts_path() %>
</div>

<div id="timer">
   00:00
</div>